@use "keys";

.corpus2 {
  display: flex;
  justify-content: center;
  .img-container2 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    flex-wrap: wrap;
    width: 60%;
    .img-corpus2 {
      margin: 2%;
      img {
        border-radius: 25px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .img-container2 {
      justify-content: space-around;
      flex-direction: column;
      margin-top: 8%;
      flex-wrap: nowrap;
      width: 35%;
    }
    .img-corpus2 {
      margin: 2%;
      img {
        max-width: 100%;
      }
    }
  }
}
.corpus3 {
  display: flex;
  justify-content: center;
  margin: 1%;
  .text2-container {
    display: flex;
    width: 80%;
    background-color: var(---color-fondo-alt);
    padding: 2%;
    border-radius: 25px;
  }
}
